@white: #ffffff;
@gray: #8f8f8f;
@gray_two: #3e3e3e;
.bizpage {
  .biz_bg {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0 40px;
    top: -70px;
    max-width: 684px;
    height: 100%;

  }
  .biz_pad {
    padding: 20px 100px;
  }
  .sale_inf {
    float: right;
    text-align: right;
    font-weight: bold;
  }
  .date_sale {
    padding: 40px 0;
    .zag_pages {
      text-align: right;
      p {
        font-size: 24px;
        color: @gray_two;
        margin: 0;
      }
    }
    .price_bz {
      display: inline-block;
      .price_red {
        font-size: 24px;
      }
      .price_t {
        text-decoration: line-through;
        color: #f76060;

      }
      .price_green {
        font-size: 24px;
        color: #5cdf4e;
      }
    }
  }
  .biz_und {
    border-top: 1px dashed #c2c2c2;
    margin-bottom: 60px;
  }
  .kupon_info {
    text-align: center;
    display: inline-block;
    span {
      font-size: 30px;
      color: @gray_two;
      padding-left: 20px;
    }
    .kupon {
      display: inline-block;
      border-radius: 6px;
      background-color: rgb(244, 244, 244);
      width: 142px;
      height: 92px;
      text-align: center;

      a {
        font-size: 24px;
        color: @gray_two;
        padding-top: 20%;
        display: inline-block;
      }
    }
  }
  .blue_but {
    width: 100%;
    height: 133px;
    font-size: 36px;
    margin: 30px 0;
  }
  .zag_pages_bz {
    text-align: center;
    padding: 0 50px;
  }

}

@media only screen and (max-width: 650px) {
  .bizpage {
    .biz_pad {
      padding: 20px 60px;
    }
    .date_sale .zag_pages p {
      font-size: 19px;

    }

    .blue_but {
      height: 90px;
      font-size: 30px;

    }

  }
}

@media only screen and (max-width: 551px) {
  .bizpage {
    .zag_pages h2 {
      font-size: 24px;
    }
    .zag_pages h3 {
      font-size: 25px;

    }
    .biz_pad {
      padding: 10px 24px;
    }

    .date_sale {
      padding: 20px 0;
    }
    .kupon_info .kupon {

      width: 100px;
      height: 75px;

    }
    .kupon_info span {
      font-size: 22px;
    }

  }
}

@media only screen and (max-width: 480px) {
  .bizpage {
    .biz_bg {

      margin: 0 20px;

    }
    .zag_pages h3 {
      font-size: 20px;
    }
    .date_sale .zag_pages p {
      font-size: 15px;
    }
    .date_sale {
      padding: 10px 0;
      .price_bz .price_red {
        font-size: 20px;
      }
      .price_bz .price_green {
        font-size: 20px;

      }

    }
    .kupon_info .kupon {
      width: 63px;
      height: 53px;
    }
    .kupon_info .kupon a {
      font-size: 19px;

    }
    .blue_but {
      height: 60px;
      font-size: 24px;
    }
    .zag_pages_bz {

      padding: 0 10px;
    }

  }

}

@media only screen and (max-width: 380px) {
  .bizpage {
    .kupon_info span {
      font-size: 18px;
    }
  }
}