@white: #ffffff;
@gray: #8f8f8f;
@gray_two: #3e3e3e;

.cupon_page {
  .zag_img {
    img {

      margin: 0 auto;
    }
  }
  .pad_cup {
    padding: 0 50px;
    span {
      font-size: 24px;
      color: @gray_two;
      float: right;
      display: inline-block;
      padding-top: 10px;
    }
    .geo {
      position: relative;
      left: 14%;

    }
  }
  .zag_pages {
    h4 {
      color: @gray_two;
      padding: 10px 0;
    }
  }
  .bord_one {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    .bord_foot {
      padding: 40px 0;
    }
  }

}

@media only screen and (max-width: 650px) {
  .cupon_page {
    .zag_pages h2 {
      font-size: 28px;
    }
    .zag_pages h4 {
      font-size: 20px;
    }

    .pad_cup .geo {
      position: relative;
      left: 0;
    }
    .pad_cup {
      padding: 0 25px;
    }
  }
}

@media only screen and (max-width: 551px) {
  .cupon_page {
    .zag_pages h2 {
      font-size: 24px;
    }
    .zag_pages h4 {
      font-size: 16px;
    }
    .geo {
      width: 50px;
      height: 50px;
      img {
        width: 40%;
      }

    }
    .pad_cup span {
      font-size: 19px;
    }

    .blue_but {
      font-size: 19px;

      width: 150px;
      height: 65px;

    }
  }
}

@media only screen and (max-width: 480px) {
  .cupon_page {
    .zag_pages h2 {
      font-size: 19px;
    }
    .blue_but {
      font-size: 16px;
      width: 125px;
      height: 52px;
    }
    .pad_cup {
      padding: 0 5px;
    }
    .zag_pages h4 {
      margin: 0;
      font-size: 14px;
    }

    .geo {
      height: 44px;
      width: 44px;
    }

    .pad_cup span {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .cupon_page {
    .zag_pages h2 {
      font-size: 17px;
      margin: 0;
    }
    .zag_pages h4 {

      font-size: 11px;
    }
    .pad_cup span {
      font-size: 11px;
    }
  }
}