.cupon_desk {
  background: linear-gradient(to bottom, #ffffff, #eaeaea, #eaeaea, #ffffff);
  .bizpage .biz_pad {
    padding: 20px 0px;
  }
  .share_d, .share_l {
    display: inline-block;
  }
  .share_d {
    a {
      color: #343434;

    }
    a:hover {
      text-decoration: none;
    }
  }
  .share_l {
    position: relative;
    left: 10px;
    top: 20px;
    p {
      margin: 0;
      color: #a5d253;
    }
  }
  .biz_pad {
    .bread_k {
      padding-top: 40px;
      li {
        a {

          font-size: 18px;
        }
      }
    }
  }
  .big_c {
    .blue_but {
      width: 372px;
      height: 72px;
      float: right;
      margin: 15px 0;
    }
  }
  .text_und {
    text-align: right;
    h2 {

      font-size: 24px;
      padding: 10px 0;
    }
    p {
      color: #3e3e3e;
      line-height: 3;
    }
  }
  .item_left {
    img {
      height: 334px;
    }
  }
  .zag_pages {
    h2 {
      font-size: 30px;
      margin-top: 0;

    }
    h3 {
      font-size: 24px;
      margin: 5px 0;
    }
  }
  .date_sale {
    padding: 10px 0;
    .zag_pages p {
      font-size: 18px;
    }
  }
  .bord_d {
    border-bottom: 1px dashed #c2c2c2;
  }
  .search_but {
    background-color: #3498db;
  }
}

@media only screen and (max-width: 1199px) {

  .cupon_desk {

    .item_left img {
      height: 320px;
    }

  }
}

@media only screen and (max-width: 992px) {

  .cupon_desk {
    .bizpage .biz_pad {
      padding: 0;
    }
    .item_left img {
      height: 230px;
    }
    .sh_d {
      text-align: left;
    }
    .share_l {
      text-align: center;
      left: 0;
      top: 10px;
      p {
        font-size: 12px;
      }

    }
    .pad-c {
      padding: 0;
    }
    .biz_pad {
      .bread_k li a {
        font-size: 14px;
      }
    }
    .big_c .blue_but {
      width: 290px;
      height: 60px;
    }
  }

}

@media only screen and (max-width: 768px) {

  .cupon_desk {
    .item_left img {
      height: 148px;
    }
    .share_l {
      img {
        height: 40px;
      }
      p {
        font-size: 11px;
      }

    }

    .biz_pad {
      .bread_k li a {
        font-size: 13px;
      }
    }
    .big_c .blue_but {
      width: 290px;
      height: 60px;
    }
    .wrap_desk {
      padding: 20px 0px;
    }
    .zag_pages {
      h2, h3 {
        font-size: 20px;
      }

    }
    .big_c .blue_but {
      width: 210px;
      height: 50px;
    }
    .text_und {
      p {
        color: #3e3e3e;
        line-height: 2;
      }
      h2 {
        padding: 0;
      }
    }
    .date_sale .zag_pages p {
      font-size: 14px;
    }
  }

}

@media only screen and (max-width: 550px) {

  .cupon_desk {
    .item_left img {
      height: 120px;
    }
    .share_l {
      img {
        height: 40px;
      }
      p {
        font-size: 11px;
      }

    }

    .biz_pad {
      .bread_k li a {
        font-size: 11px;
      }
    }
    .big_c .blue_but {
      width: 290px;
      height: 60px;
    }
    .wrap_desk {
      padding: 20px 0px;
    }
    .zag_pages {
      h2, h3 {
        font-size: 17px;

      }

    }
    .big_c .blue_but {
      width: 210px;
      height: 50px;
    }
    .text_und {
      p {
        color: #3e3e3e;
        line-height: 2;
      }
      h2 {
        padding: 0;
      }
    }
  }

}

@media only screen and (max-width: 480px) {

  .cupon_desk {
    .item_left {
      padding-left: 0;
      padding-right: 5px;
      img {
        height: 90px;
      }
    }
    .share_l {
      img {
        height: 25px;
      }
      p {
        font-size: 8px;
      }

    }
    .share_d {
      img {
        height: 15px;
      }
    }
    .biz_pad {
      .bread_k {
        padding: 20px 0;
        li a {
          font-size: 11px;
        }
      }
    }
    .big_c .blue_but {
      width: 290px;
      height: 60px;
    }
    .wrap_desk {
      padding: 20px 0px;
    }
    .zag_pages {
      h2, h3 {
        font-size: 17px;

      }

    }
    .big_c .blue_but {
      width: 210px;
      height: 50px;
    }
    .text_und {
      p {
        color: #3e3e3e;
        line-height: 2;
        font-size: 12px;
      }
      h2 {
        margin-bottom: 10px;
      }
    }
    .share_d a {

      font-size: 12px;
    }
    .date_sale .zag_pages p {
      font-size: 11px;
    }
  }

  .bizpage {
    .date_sale {
      .price_bz {
        .price_green, .price_red {
          font-size: 14px;
        }
      }
    }
  }

  .big_c .blue_but {
    width: 130px;
    height: 34px;
    font-size: 15px;
    margin-bottom: 0;
  }
}
