.hp_desk {
  .bg_hp {
    background: url(../img/bg_deks_1.jpg) center center no-repeat;
    background-size: cover;

  }
  .search_but {
    background-color: #3498db;
  }
  .bord_one {
    max-width: 351px;
    height: 327px;
    padding: 0 12px;
    .bord_bg {
      background: url(../img/desk_hp1.png) center no-repeat;
      background-position-y: 12px;
      height: 255px;
      .bord_bg_in {
        bottom: 0px;
        margin: 0;
        height: 70px;
        padding: 15px 16px;
        h4 {
          font-size: 17px;
        }
        span {
          font-size: 20px;
          color: #ffffff;
          margin-right: 20px;
          font-weight: bold;
        }
        h3 {
          font-size: 24px;
          display: inline-block;
        }
      }
    }
    .bord_foot {
      padding: 10px 0;
      a {
        font-size: 13px;
        padding-left: 8px;
      }
    }
    .bord_foot_two {
      a {
        color: #a5d253;
      }
      .share a {
        color: #343434;

      }
    }

  }


}

@media only screen and (max-width: 1199px) {
  .hp_desk {
    .bord_one .bord_bg .bord_bg_in {
      padding: 15px 8px;
    }

    .under_f {
      span {
        font-size: 13px;
      }
    }
  }
}

@media only screen and  (max-width: 992px) {
  .hp_desk {


  }

}

@media only screen and (min-width:768px) and (max-width: 992px) {

  .hp_desk {

    .bord_one {
      height: 240px;
      margin: 0 auto 30px;
      .bord_bg {
        height: 185px;
        background-size: cover;
        .bord_bg_in {
          span {
            font-size: 15px;
            margin-right: 10px;
          }
          h4 {
            font-size: 15px;
          }
          h3 {
            font-size: 16px;

          }
        }

      }
      .bord_foot {
        .pic{
          height: 28px;
        }
        a {
          font-size: 11px;
          padding-left: 0;
        }
        .share{
          top: 0;
          right: 0;
          img{
            height: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 380px) {
  .hp_desk {
    .bord_one {
      .bord_bg {
        .bord_bg_in {
          padding: 15px 5px;
          h4 {
            font-size: 14px;
          }
           span {
            font-size: 17px;
          }
           h3 {
            font-size: 18px;

          }
        }
      }
    }
  }

}

































