.list_desk {
  background: linear-gradient(to bottom, #ffffff, #eaeaea, #fff, #ffffff);

  .user_panel_tabs .tabs_bg, #tabs_bg2, #tabs_bg3 {
    background-size: contain;
    width: 100%;

  }
  .user_but {
    p {
      font-size: 16px;
      color: #3e3e3e;

      span {
        color: #3e3e3e;
      }
    }
    .but_def {
      background: #bbbbbb;
    }
  }

}

@media only screen and (max-width: 992px) {
  .list_desk {
    .user_panel_tabs {
      .blue_but_us, .green_but {
        width: 136px;
        height: 43px;
        font-size: 17px;
      }
      .tabs_bg {
        max-width: 142px;

      }
      .user_info {
        padding-right: 10px;
        h3, h4 {
          font-size: 16px;
        }
        h3 {
          padding-top: 15px;
        }
        p {
          font-size: 14px;
        }
      }
      .user_but {
        p {
          padding-top: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .list_desk {
    .wrap_desk {
      padding: 20px 15px;

    }
    .user_panel_tabs {
      .tab-content-container {
        padding: 10px 20px;
      }
      .tabs_bg {
        max-width: 120px;
      }
      .user_but button {
        width: 97px;
        height: 35px;
        font-size: 13px;
      }
      .user_info {
        padding-right: 10px;
        h3, h4 {
          font-size: 14px;
        }
        h3 {
          padding-top: 20px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .user_but p, span {
      font-size: 13px;

    }
  }
}

@media only screen and (max-width: 550px) {
  .list_desk {
    .user_panel_tabs {
      .tab-content-container {
        padding: 10px 10px;
      }
      .user_but button {
        width: 85px;
        height: 32px;
        font-size: 12px;
      }
      .tabs_bg {
        max-width: 88px;
      }
      .user_info {
        padding-right: 5px;
        h3, h4 {
          font-size: 11px;
        }
        h3 {
          padding-top: 7px;
        }
        p {
          font-size: 10px;
        }

      }
      .user_but p, span {
        font-size: 10px;
      }
    }
    .user_but_m {
      padding-top: 45px
    }
  }

}

@media only screen and (max-width: 480px) {
  .list_desk .user_but_m {
    padding-top: 5px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 380px) {
  .list_desk {
    .wrap_desk {
      padding: 20px 0px;
    }
    .user_panel_tabs {
      .tab-content-container {
        padding: 10px 10px;
      }
      .user_but button {
        width: 70px;
        height: 27px;
        font-size: 10px;
      }
      .tabs_bg {
        max-width: 70px;
      }
      .user_info {
        padding-right: 4px;
        h3, h4 {
          font-size: 12px;
        }
        h3 {
          padding-top: 7px;
          margin: 0;
        }
        h4 {
          margin-bottom: 3px;
        }
        p {
          font-size: 9px;
        }

      }
      .user_but p, span {
        font-size: 9px;
      }
      .menu_two li {
        font-size: 14px;
      }
    }
  }

}