.menu-container {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 222;
  &.visible-background {
    display: block;
  }
}

.menu__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menu__left-side {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 4.243px 4.243px 54px 0px rgba(0, 0, 0, 0.3);
  width: 70%;
  height: 1300px;

  .head_menu {
    padding: 30px;
    .avatar_menu {
      margin-top: 80px;
      text-align: center;
      img {
        display: inline-block;
        h2 {
          font-size: 30px;
          color: #3e3e3e;
        }
      }
    }
  }
  .list_main {
    margin-top: 30px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        padding: 40px 20px 65px;
        border-top: 1px solid #c8c8c8;
        .right_inf {
          color: #3e3e3e;
          display: inline-block;
          float: right;
          text-align: right;
          p {
            display: inline-block;
            margin: 0;
            font-size: 18px;
          }
          span {
            display: block;
            width: 95px;
            font-size: 12px;
          }
          .mail_pic {
            padding-left: 20px;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }

  &.visible {
    display: block;
  }
}

.menu1 {
  .head_menu {
    a {
      float: right;
      font-size: 24px;
      color: #3e3e3e;
      padding-right: 20px;
      img {
        position: relative;
        left: 20px;
        top: -10px;
      }
    }
  }
  .list_main {
    a {
      text-decoration: underline;
      font-size: 18px;
      position: relative;
      left: 20px;
      top: 10px;
    }
  }
}

.menu__left-side {
  .menu2 {
    .head_menu {
      .avatar_menu {
        img {
          width: 24%;
          position: relative;
          left: -20px;
          margin-bottom: 20px;
        }
        h4 {
          font-size: 24px;
          margin-bottom: 0;
        }
        button {
          width: 227px;
          height: 77px;
          font-size: 20px;

        }
      }
    }

    .list_main {
      li:nth-child(1) {
        border-top: none;
        padding: 40px 65px 45px;
      }
      li {
        padding: 40px 65px 65px;
        .numb_menu {
          border-radius: 50%;
          background-color: rgb(52, 152, 219);
          opacity: 0.6;
          width: 34px;
          height: 34px;
          text-align: center;
          display: inline-block;
          padding-top: 3px;
          a {
            color: #ffffff;
            text-decoration: none;
            font-size: 19px;

          }

        }
        .right_inf {
          a {
            text-decoration: none;
            font-size: 24px;
            color: #3e3e3e;
          }

        }
      }

    }
  }
}

.menu3 {
  .head_menu {
    .akk_menu {
      .left_akk {
        display: inline-block;
        text-align: center;
        line-height: 1;
        p {
          margin: 0;
          font-size: 40px;
          color: #3e3e3e;
        }
        span {
          font-size: 24px;
        }
      }
      .right_akk {
        display: inline-block;
        float: right;
        line-height: 1;
        text-align: right;
        p {
          font-size: 24px;
          color: #3e3e3e;
          margin: 0;
        }
        span {
          color: #92cf1c;
          font-size: 20px;
        }
        .akk_left {
          line-height: 1.2;
          position: relative;
          right: 20px;
          top: 11px;
          float: left;
        }
        .akk_img {
          float: right;
          height: 70px;
          width: 70px;
          border: 1px solid gray;
          background: url("../img/avatar_img1.png") no-repeat center center;
          background-size: contain;
        }
      }
    }
    .butt_m {
      .blue_but {
        width: 227px;
        height: 77px;
        margin-left: 15px;
        background-color: #92cf1c;
        font-size: 20px;
      }
    }
  }
  .list_bot {
    padding: 80px 0;

    ul {

      padding: 0;

      li {
        list-style-type: none;
        float: left;
        width: 33%;
        p {
          font-size: 24px;
          text-align: center;
        }
        .img_b {
          box-sizing: border-box;
          height: 80px;
          text-align: center;
        }
      }
    }
  }
}
.menu4 {
  .head_menu {
    .akk_menu {
      .right_akk {
        .akk_img {
          background: url("../img/avatar_img2.png") no-repeat center center;
          background-size: contain;
        }
      }
    }
    .butt_m {
      .blue_but {
          background-color: rgb(110, 110, 110);
          opacity: 0.302;
        }
      }
    }
  }



@media only screen and (max-width: 650px) {
  .menu3,.menu4 {
    .head_menu {

      .akk_menu {
        .right_akk {
          p {
            font-size: 19px;
          }
          span {
            font-size: 15px;
          }
        }
        .left_akk {
          p {
            font-size: 33px;
          }
          span {
            font-size: 21px;
          }
        }

        .right_akk .akk_img {
          height: 60px;
          width: 60px;
        }

      }
      .butt_m .blue_but {
        width: 179px;
        height: 56px;
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    .list_bot ul li p {
      font-size: 19px;

    }

  }

  .head_menu {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 551px) {
  .menu__left-side {
    .menu2 {
      .head_menu {
        .avatar_menu {
          h4 {
            font-size: 19px;
          }
          button {
            width: 190px;
            height: 60px;
            font-size: 18px;
          }
        }

      }
      .list_main li .right_inf a {

        font-size: 18px;

      }
    }
  }

  .menu3 {
    .head_menu {
      padding: 15px;
      .akk_menu {

         .right_akk span {
          font-size: 13px;
        }
      }
    }
  }
  #min1{
     width: 40%;
   }
  #min2{
      width: 50%;
    }

}

@media only screen and (max-width: 480px) {
  .menu__left-side {
    width: 80%;

  }
  .avatar_menu {
    img {
      width: 22%;

    }
    h2 {
      font-size: 17px;
    }
  }

  .menu1 .head_menu a img {
    width: 22%;
    top: -3px;
  }

  .menu__left-side {

    .list_main ul li .right_inf .mail_pic {
      width: 28%;
    }
    .list_main ul li {
      padding: 26px 10px 48px;

    }
    .list_main ul li .right_inf p {
      font-size: 15px;
    }
  }

  .menu1 .list_main a {

    font-size: 15px;
  }

  .menu__left-side {
    .menu2 {

      .list_main {
        li {
          padding: 25px 20px 48px;

        }
        li:nth-child(1) {
          border-top: none;
          padding: 19px 20px 27px;
        }
      }
      .head_menu {
        .avatar_menu {
          margin-top: 25px;
          img {
            width: 40%;
          }
          h4 {
            font-size: 15px;
          }
          button {
            width: 142px;
            height: 46px;
            font-size: 16px;
          }
        }
      }

    }
  }
  .menu3 {
    .head_menu {
      padding: 15px;
      .akk_menu {
        .left_akk p {
          font-size: 25px;
        }
        .left_akk span {
          font-size: 15px;
        }
        .right_akk span {
          font-size: 11px;
        }
        .right_akk .akk_img {
          height: 50px;
          width: 50px;
        }
        .right_akk .akk_left {
          right: 7px;

        }
      }
      .butt_m .blue_but {
        width: 129px;
        height: 45px;

      }
    }
    .list_bot {
      padding: 45px 0;
       ul li p {
        font-size: 14px;
      }

    }
  }
}

