@white: #ffffff;
@gray: #8f8f8f;
@gray_two:#3e3e3e;
.bg_hp {
  background: url(../img/bg_one.jpg) no-repeat center center;
  background-size: cover;
  max-height: 560px;
  height: 560px;
}

//NIGHT BG------------------------------------------------------
.bg_hp_night {
  background: url(../img/bg_night.jpg) no-repeat center center;
  background-size: cover;
  max-height: 560px;
  height: 560px;
}

.search_but {
  position: absolute;
  left: 10px;
  top: 8px;
  border-radius: 6px;
  background-color: rgb(52, 152, 219);
  width: 77px;
  height: 77px;
  z-index: 12;

  img {
    position: relative;
    left: 15px;
    top: 15px;

  }
}

.menu_two {
  text-align: center;

  li {
    list-style-type: none;
    padding: 20px;
    font-size: 24px;
    display: inline-block;

    &.tab {
      color: #3e3e3e;
      text-decoration: none;

      //&:hover {
      //  border-bottom: 3px solid #3498db;
      //}

      &.active {
        border-bottom: 3px solid #3498db;
      }
    }
  }
}

.tab-section {
  display: none;
  &.active {
    display: block;
  }
}

.bord_one {
  border-radius: 6px;
  background-color: @white;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.06);
  max-width: 532px;
  height: 490px;
  z-index: 21;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
  .bord_bg, .bord_bg_two, .bord_bg_three, .bord_bg_four{
    position: relative;
    background: url("../img/bord_one.png") no-repeat center;
    background-size: cover;
    background-position-y: 18px;
    height: 333px;
    width: 100%;
    .bord_bg_in {

      height: 100px;
      width: 100%;
      background-color: rgb(29, 151, 220);
      position: absolute;
      bottom: -65px;
      opacity: 0.902;
      padding: 20px;
      text-align: right;
      margin-bottom: 30px;
      h4 {
        color: @white;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }
      h3 {
        color: @white;
        font-size: 30px;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  .bord_foot {
    padding: 55px 0;

    a {
      font-size: 18px;
      font-style: italic;
      padding-left: 15px;

    }
    .share {
      display: inline-block;
      float: right;
      position: relative;
      top: 10px;
      right: 10px;
      a {
        color: #343434;
        text-decoration: none;
      }
    }
  }
  .bord_bg_two {
    background: url("../img/bord_two.png") no-repeat center;
    background-position-y: 18px;
    .bord_bg_in {
      background-color: rgb(146, 207, 28);
    }
  }
  .bord_bg_three {
    background: url("../img/bord_three.png") no-repeat center;
    background-position-y: 18px;
  }
  .bord_bg_four{
    background: url("../img/img_two.png") no-repeat center;
    background-position-y: 18px;
  }
}

//SEARCH MAIN-------------------------------------------------------
.search_main {
  border-radius: 6px;
  background-color: @white;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.2);
  height: 360px;
  padding: 30px;
  max-width: 592px;
  margin: 0 auto;
  position: relative;
  top: -20px;
  .pad_search {
    padding: 0 20px;
    label {
      font-size: 29px;
      color: #5a5a5a;
      font-weight: 200;
      padding-left: 20px;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    width: 50%;
  }
  .form_main {
    border: none;
    box-shadow: none;
    width: 50%;
    border-bottom: 1px solid rgb(161, 161, 161);
    border-radius: 0;
    display: inline-block;
    font-size: 24px;
    margin: 10px 0;
  }
  button {
    border-radius: 6px;
    background-color: rgb(52, 152, 219);
    max-width: 277px;
    width: 277px;
    height: 77px;
    border: none;
    margin: 30px 0;
  }
  a {
    font-size: 24px;
    text-decoration: underline;
    position: relative;
    top: 10px;
    left: 20px;
  }
}


@media only screen and (max-width: 615px) {
  .search_main .pad_search label {
    font-size: 25px;}
}





