@white: #ffffff;
@gray: #8f8f8f;
@gray_two:#3e3e3e;
.page {

  h2,h3,h4,p {
    color: @gray_two;
  }

  .link_page{

    padding: 50px 80px;
    a{
      font-size:30px;
      text-decoration: underline;
      color:@gray_two;

    }
    p{
      padding: 20px 0;
      font-size:24px;
    }
  }
  .green_bg{
    background-color: rgb(146, 207, 28);

    transform: skewY(-6deg);
    width: 100%;
    height: 570px;
    z-index: 20;

    .link_green{
      padding: 10px 60px;
      transform: skewY(6deg);
      h2{
        font-size:36px;
        color: @white;
        padding-top: 15px;
      }
      p{
        color: @white;
        font-size:24px;
        margin-bottom: 20px;
      }

      button{
        border-radius: 6px;
        background-color: rgb(52, 152, 219);
        width: 371px;
        height: 72px;
        font-size:24px;
        color:@white;
        font-weight: bold;
        border: none;
        margin-top: 70px;
      }


    }
  }
  @media only screen and (max-width: 551px) {

    .link_page {
      padding: 20px 40px;
    }
    .link_page a {
      font-size: 25px;
    }
    .link_page p {
      font-size: 16px;
    }
    .green_bg .link_green h2 {
      font-size: 24px;

    }
    .green_bg .link_green {
      padding: 10px 40px;
    }
    .green_bg .link_green p {
      font-size: 15px;
    }
    .a_white {
      font-size: 16px;
    }
    .green_bg .link_green button {
      width: 80%;
      height: 61px;
      font-size: 22px;

      margin-top: 50px;
    }
  }
  @media only screen and (max-width: 380px){

    .link_page {
      padding: 10px 20px;
    }
    .link_page a {
      font-size: 18px;
    }
    .link_page p{
      padding: 10px 0;
      margin: 0;
    }
    .green_bg .link_green {
      padding: 10px 20px;
    }
    .green_bg .link_green h2 {
      font-size: 17px;
      padding: 0;
    }
    .a_white {
      font-size: 18px;
    }
  }

}