.pages_desk{
  background: linear-gradient(to bottom,#eeeeee,#eaeaea,#fff,#ffffff);
  .search_but {
    background-color: #3498db;
  }

  .wrap_desk{

    .bg_w{
     text-align: center;

      h3{
      text-align: right;
      font-size:30px;
      padding: 20px 0;
    }
      p{
        text-align: right;
        font-size:14px;
        color:#3e3e3e;
        line-height: 3;
      }

    }

  }
}

@media only screen and (max-width: 551px) {

  .pages_desk {
    .wrap_desk .bg_w p {
      text-align: right;
      font-size: 13px;
      color: #3e3e3e;
      line-height: 1.5;
    }
  }
}