/*
* Third Party
*/
@import "../../bower_components/bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/OpenSansHebrew-Regular.eot');
  src: url('../fonts/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansHebrew-Regular.woff') format('woff'),
  url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrapper-mob {
  max-width: 750px;
  margin: 0 auto;
}

a {
  color: #5dbcf4;
}

.menu_hp, .logo {
  display: inline-block;
  padding-top: 40px;
  padding-left: 35px;
}

.logo {
  padding-left: 60px;
}

.hp_info {
  padding-left: 90px;
  float: left;
  h1 {
    font-size: 48px;
    color: @white;
    font-weight: bold;
    text-align: right;

    margin-top: 40px;
  }
  h3 {

    text-align: right;
    span {
      color: red;
    }
  }
}

//INFO NIGHT--------------------------------------------------
.hp_info_night {
  h3 {
    color: @white;
  }
}

.hp_bottom {
  text-align: right;
  float: left;
  padding-left: 120px;
  a {
    font-size: 24px;
    color: @white;
    text-decoration: none;
    padding: 15px;
    position: relative;
    top: 5px;

  }
}

.tab {
  display: none;
}

.visible {
  display: block;
}

.search_one {
  position: relative;
  top: -15px;
  max-width: 592px;
  margin: 0 auto;
  input {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.2);
    float: right;
    text-align: right;
    width: 100%;
    font-size: 30px;
    color: #5a5a5a;
    height: 92px;
    z-index: 9;
    padding-right: 30px;
  }
  a {
    font-size: 24px;
    text-decoration: underline;
    float: right;
    padding-right: 10px;
  }
}

header {
  hr {
    border-top: 3px solid #eee;
    opacity: 0.8;
    width: 370px;
  }
}

.no-pad {
  padding: 0;
}

.pad-r10 {
  padding-right: 16px;
}

.pad-r80 {
  padding-right: 80px;
}

@white: #ffffff;
@gray: #8f8f8f;
@gray_two: #3e3e3e;
html {
  height: 100%;
}

body {
  font-family: 'OpenSansHebrew-Regular';
  background: @white;
}

p {
  color: @gray;
}

.but_plus {
  background: #000000;
  img {
    position: relative;
    left: -10px;
  }
}

h2 {
  font-weight: bold;
  color: @gray_two;
}

hr {
  margin: 0;
}

//PAGE SEARCH RESULTS-------------------------------------------------
.bg_small {
  background: url(../img/bg_small.jpg) no-repeat center center;
  background-size: cover;
  max-height: 238px;
  height: 238px;
}

.a_white {
  font-size: 24px;
  color: @white;
  text-decoration: underline;
}

.search_but {

  background-color: #ed464b;

}

.zag_pages {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
  }
  h4 {
    font-size: 24px;
  }

}

.zag_img {
  margin: 40px 0;
}

.blue_but {
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  background-color: rgb(52, 152, 219);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  width: 168px;
  height: 77px;
  border: none;
  color: @white;

}

.geo {

  border-radius: 3px;
  background-color: rgb(114, 167, 0);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
  width: 58px;
  height: 58px;
  text-align: center;
  padding-top: 10px;
  display: inline-block;

}

.bord {
  border-bottom: 1px dashed #c2c2c2;
}

.tab-content-container {
  padding: 10px 40px;
  margin: 0 auto;
}

.tabs_hr {
  width: 91%;
}

.but_gr {
  background: #88b232;
}

.red_but {
  background-color: rgb(237, 70, 75);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);

}

//MODAL----------------------------------------------------------------------------
.modal {
  text-align: center;

}

.modal_m {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  .modal-content {
    padding: 10px 40px;

  }
  .modal-header, .modal-footer {
    border: none;
  }
  .modal-header {
    h2 {
      font-size: 36px;
    }
    h4 {
      font-size: 24px;
      font-weight: bold;
      margin: 0px;
    }
  }
  .modal-body {
    .bord_one {

      margin-bottom: 20px;
      max-width: 402px;
      height: 309px;
      .bord_bg_three {
        background: url(../img/img_two.png) no-repeat center;
        background-position-y: 15px;
        background-size: contain;
        .bord_bg_in {
          background: #92cf1c;

        }
      }
    }
    .mem_input {
      font-size: 30px;
    }

    .help_user {
      border-radius: 4px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.22);
      width: 100%;
      height: 100px;
      font-size: 17px;
      color: #858585;
      padding: 18px;
      a {
        padding-right: 30px;
        color: #858585;
        text-decoration: underline;
      }
      p {
        display: inline-block;
        padding-left: 30px;
      }
      .blue_but {
        border-radius: 5px;
        width: 67px;
        height: 59px;

      }

    }

  }
  .modal-footer {
    padding: 40px 0;
    text-align: center;
    .blue_but {
      height: 60px;
      width: 160px;
    }

  }
  .mem_input {
    border: none;
    border-bottom: 1px solid #a1a1a1;
    width: 100%;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

}

.mod3 {
  .modal-header {
    padding-top: 40px;
    h2 {
      color: #8bc31b;
    }
  }
  .blue_but {
    background: #88b232;
  }
}

.mod4 {
  padding: 50px 20px;
  .smile_one {
    width: 25%;
    position: relative;
    top: -60px;
  }
  .modal-header {
    h4 {
      font-weight: 200;
      padding: 15px;
    }
  }
  .modal-body {
    .but_gr {
      width: 177px;
      height: 65px;
    }
  }
  .modal-footer {
    position: relative;
    top: 40px;
    padding: 5px;
    .blue_but {
      width: 250px;
      height: 65px;
      line-height: 0.9;
      p {
        font-size: 18px;
        margin: 0;
        opacity: 0.8;
        color: #ffffff;
        font-weight: 100;
      }
    }
  }
}

.mod5 {
  .modal-header h4 {
    font-weight: 200;
    padding: 12px;
  }
}

.mod6 {
  .smile_three {
    padding-top: 30px;

  }
}

.mod7 {
  .modal-header h4 {
    font-weight: 200;
    padding: 5px;
  }
  .modal-body {
    p {

      color: #5a5a5a;
      width: 200px;

      margin: 0 auto;
    }
  }
  .modal-footer .blue_but {
    background-color: #93c83d;
  }
}

.mod8 {
  .modal-header {
    h2 {
      padding-top: 30px;
    }
  }
  .modal-body {
    .but_gr {
      background-color: rgb(237, 70, 75);
      margin: 15px auto;
      display: block;
    }
    #faceb_but {
      background-color: #1362c3;
      img {
        padding-left: 20px;
      }
    }
  }
}

.mod9 {

  .modal-body {
    .mem_input {
      font-size: 22px;
      width: 65%;
      margin: 20px 0;
      padding-bottom: 10px;
    }
    .see {
      background: url("../img/see.png") no-repeat center left;

    }
    label {
      padding-left: 6px;
      font-size: 30px;
      color: #5a5a5a;
      width: 30px;
    }
  }

}

.mod10 {
  .img_downl {
    display: block;
    background: url("../img/img_downl.png") no-repeat center center;
    background-size: 30%;
    height: 124px;
    span {
      float: right;
      position: relative;
      top: 30px;
      right: 10px;
      font-size: 30px;
      color: #5a5a5a;
    }
  }
  .see {
    background: url("../img/calendar.png") no-repeat center left;
  }
}

.mod11 {
  .modal-header {
    p {
      font-size: 60px;
      margin: 0;
      color: @gray_two;
    }
  }
  .modal-body {
    padding: 0;
    p {
      font-size: 24px;
    }
  }
}

.mod13 {
  .modal-body {
    a {
      font-size: 20px;
      color: #464243;
      text-decoration: underline;
      margin: 50px;
    }
    .blue_but {
      width: 105px;
      height: 79px;

    }
  }
}

.mod15 .modal-body p {
  font-size: 19px;
  width: 210px;
  padding-bottom: 20px;
  display: inline-block;
}

.mod16 {
  .modal-header {
    h4 {
      padding: 0;

    }
  }
  .modal-body {
    p {

      width: 250px;

    }
    .blue_but {
      width: 150px;
      height: 59px;
    }
  }
}

.form_sel {
  border: none;
  box-shadow: none;
  width: 70%;
  border-bottom: 1px solid #a1a1a1;
  border-radius: 0;
  display: inline-block;
  font-size: 24px;
  margin: 30px 0;
}

.check_b {
  text-align: right;
  display: inline-block;
  width: 236px;
  padding-left: 50px;
}

.checkbox {
  width: 17%;
  display: inline-block;
  input[type=checkbox] {
    display: none;

  }
  .checkbox label:before {
    border-radius: 3px;

  }
  input[type=checkbox]:checked + label:before {

    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 23px;

  }
  label {
    padding: 0;
  }
  label:before {

    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    border-radius: 4px;

    background-color: #48a2df;

    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);

  }

}

.foot_pic {
  background: url(../img/foot_desk.jpg) center center no-repeat;
  background-size: cover;
  max-height: 237px;
  height: 237px;
  .logo {

    padding-left: 43px;
    padding-top: 25px;
    img {
      height: 42px;
    }
  }
  .right_f {
    text-align: right;
    padding-top: 38px;
    padding-right: 20px;

    p {
      color: #ffffff;
    }
    .top_l {
      padding-right: 18px;
      margin: 0;
      li {
        color: #ffffff;
      }
    }
    .list_f {
      padding: 0;
      margin: 0;
      li {
        float: left;
        list-style-type: none;
        width: 20%;
        a {
          text-decoration: none;
          color: #ffffff;

        }
      }
    }
    .under_f {
      padding-top: 30px;
      span {
        color: #ffffff;
      }
    }

  }
}

.bread_k {
  float: right;
  padding: 10px 0;
  ul {
    padding: 0;
    margin: 0;
    li:not(:first-child) {
      border-left: 1px solid black;
    }

    li {
      float: left;
      list-style-type: none;

      margin: 0 3px;
      a {
        color: #3e3e3e;
        font-size: 14px;
        padding-left: 5px;
      }
      a:hover {
        color: #3498db;
        text-decoration: none;
      }

    }
  }
}

.wrap_desk {
  padding: 20px 40px;
  max-width: 1023px;
  margin: 0 auto 50px;
  .bg_w {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    max-width: 1023px;
    height: 100%;
    padding: 20px;


  }
}

@media only screen and (min-width: 479px) {
  .modal-body {
    .bord_one {

      .bord_bg_three {
        .bord_bg_in {
          height: 80px;
          bottom: 18px;
        }
      }

    }
  }

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 992px) {
  .bg_hp {
    height: 450px;
  }

  .foot_pic {
    .logo {
      padding-left: 17px;
      padding-top: 25px;
    }
    .right_f .under_f {
      padding-top: 12px;
    }
    .right_f {
      padding-top: 25px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .foot_pic {
    height: 177px;
  }

  .foot_pic .right_f .list_f li a {
    font-size: 13px;
  }

  .hp_desk .under_f span {
    font-size: 11px;
  }
}

@media only screen and (max-width: 768px) {
  .foot_pic .right_f {
    padding-top: 7px;
  }

}

@media only screen and (max-width: 767px) {
  .dp_n {
    display: none;
  }
}

@media only screen and (max-width: 551px) {

  .mob_no-pad {
    padding: 0;
  }

  .bg_hp {
    height: 440px;
  }

  .menu_hp, .logo {
    img {
      width: 80%;
    }

  }

  .hp_info h1 {
    font-size: 40px;
  }

  .hp_bottom a {
    font-size: 20px;

  }

  .hp_bottom {
    img {
      width: 11%;
    }
  }

  .search_main .pad_search label {
    font-size: 20px;
  }

  .search_main .form_main {
    font-size: 16px;

  }

  .search_main button {

    width: 45%;
    height: 67px;

  }

  .search_main a {
    font-size: 22px;

  }

  .menu_two li {

    font-size: 22px;

  }

  .menu_two {
    padding: 0;
  }

  .search_one input {
    float: right;
    text-align: right;
    height: 74px;
    font-size: 25px;
  }

  .search_but {
    left: 9px;
    top: 6px;
    width: 60px;
    height: 60px;
  }

  .search_but {
    img {
      width: 60%;
      left: 13px;
    }
  }

  //PAGE SEARCH RESULTS-------------------------------------------------
  .bg_small {

    height: 185px;
  }

  .zag_pages h2 {
    font-size: 27px;
  }

  .zag_pages h4 {
    font-size: 18px;
  }

  .foot_pic .logo {
    padding-left: 11px;
    padding-top: 8px;
  }

}

@media only screen and (max-width: 480px) {
  .bg_hp {
    height: 400px;
  }

  .search_main {
    height: 280px;
    padding: 16px;
  }

  .search_main .pad_search {
    padding: 0;
  }

  .search_main button img {
    width: 28%;
  }

  .search_main button {
    margin: 15px 0;
  }

  .menu_two li {

    padding: 20px 12px;
    font-size: 20px;

  }

  .menu_two {
    padding: 0;
  }

  .bord_one .bord_bg, .bord_one .bord_bg_two, .bord_one .bord_bg_three {
    background-size: contain;
    height: 250px;

  }

  .bord_one .bord_bg .bord_bg_in, .bord_one .bord_bg_two .bord_bg_in, .bord_one .bord_bg_three .bord_bg_in {
    height: 80px;

  }

  .bord_one .bord_bg .bord_bg_in h4, .bord_one .bord_bg_two .bord_bg_in h4, .bord_one .bord_bg_three .bord_bg_in h4 {
    font-size: 20px;

  }

  .bord_one .bord_bg .bord_bg_in h3, .bord_one .bord_bg_two .bord_bg_in h3, .bord_one .bord_bg_three .bord_bg_in h3 {
    font-size: 25px;

  }

  .pic {
    width: 17%;
  }

  .share {
    img {
      width: 70%;
    }

  }

  .bord_one .bord_foot a {
    font-size: 16px;
    padding-left: 10px;
  }

  .bord_one {

    height: 395px;

  }

  .bg_small {
    height: 150px;
  }

  //MODAL-------------------------------------------------------------------------------
  .modal_m {
    .modal-content {
      padding: 10px 5px;
    }
    .modal-header {
      h4 {
        font-size: 20px;
      }
      h2 {
        font-size: 30px;
      }
    }
    .modal-footer {
      padding: 20px 0;

    }
    .modal-body .mem_input {
      font-size: 21px;
    }
    .close {
      right: 5px;
    }
  }

  .modal-content {
    padding: 10px 5px;
  }

  .modal_closed {
    width: 70%;
  }

  .user_panel_tabs {

  }

  .mod4 {
    .modal-footer {
      padding: 5px;
    }
  }

  .form_sel {
    font-size: 16px;
    margin: 15px 0;
  }

  .mod9 .modal-body label {
    font-size: 23px;
  }

  .modal_m .modal-body .mem_input {
    font-size: 18px;
  }

  .mod10 .img_downl span {

    top: 55px;

    font-size: 22px;

  }

  .mod11 {
    .modal-header {
      .smile_three {
        width: 17%;
      }
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 32px;

      }
    }
    .modal-body p {
      font-size: 18px;
    }
  }

  .mod13 .modal-body .blue_but {
    width: 82px;
    height: 57px;
  }
}

@media only screen and (max-width: 410px) {
  .bord_one .bord_foot .share {

    position: relative;
    top: 3px;
    right: 0;
  }

  .menu_hp, .logo {
    padding-top: 24px;
    padding-left: 15px;
  }

  .hp_info {
    padding-left: 60px;
    float: left;
  }

  .hp_info h1 {
    font-size: 35px;
  }

  header hr {
    width: 295px;
  }

  .hp_bottom {
    padding-left: 75px;
  }

  .bg_hp {
    height: 350px;
  }

  .search_main .pad_search label {
    font-size: 17px;
  }

  .search_main button {
    width: 40%;
    height: 50px;
    margin: 10px 0;
  }

  .search_main a {
    font-size: 19px;
  }

  .search_main {
    height: 260px;
  }

}

@media only screen and (max-width: 380px) {
  .menu_hp, .logo {
    padding-top: 20px;
    padding-left: 5px;
  }

  .logo {
    width: 77%;
    padding-left: 20px;
  }

  .menu_hp {
    width: 14%;
  }

  .hp_info {
    padding-left: 3px;

  }

  header hr {
    width: 230px;
  }

  .hp_bottom {
    padding-left: 5px;
  }

  .hp_info h3 {
    margin-top: 0;
  }

  .hp_bottom img {
    width: 8%;
  }

  .search_main .pad_search label {
    font-size: 15px;
    padding-left: 7px;
  }

  .search_main a {
    font-size: 16px;
  }

  .menu_two li {
    font-size: 16px;
  }

  .bord_one .bord_bg, .bord_one .bord_bg_two, .bord_one .bord_bg_three {
    height: 200px;
  }

  .bord_one .bord_bg .bord_bg_in, .bord_one .bord_bg_two .bord_bg_in, .bord_one .bord_bg_three .bord_bg_in {
    height: 70px;
  }

  .bord_one .bord_bg .bord_bg_in h4, .bord_one .bord_bg_two .bord_bg_in h4, .bord_one .bord_bg_three .bord_bg_in h4 {
    font-size: 16px;
  }

  .bord_one .bord_bg .bord_bg_in h3, .bord_one .bord_bg_two .bord_bg_in h3, .bord_one .bord_bg_three .bord_bg_in h3 {
    font-size: 20px;
  }

  .pic {
    width: 15%;
  }

  .bord_one .bord_foot a {
    font-size: 12px;
  }

  .share img {
    width: 55%;
  }

  .bord_one {
    height: 320px;
  }

  .search_one input {

    font-size: 19px;
  }

  .bg_small {
    height: 110px;
  }

  .zag_search {
    font-size: 21px;
    padding: 10px 0;
  }

  .a_white {
    font-size: 18px;
  }

  .green_bg .link_green button {
    font-size: 17px;
    margin-top: 30px;
  }

  .green_bg {
    height: 475px;

  }

  .zag_pages h2 {
    font-size: 24px;
  }

  .zag_pages h4 {
    font-size: 14px;
  }

  .modal_m {

    .modal-body .bord_one {

      height: 260px;
    }
    .modal-footer {
      padding: 10px 0;

      .blue_but {
        height: 47px;
        width: 145px;
        font-size: 17px;
      }
    }
    .modal-body .help_user {
      a {
        padding-right: 10px;
      }
      p {
        padding-left: 10px;
      }
    }
  }

  .mod4 .modal-body .but_gr {
    width: 120px;
    height: 44px;
    font-size: 15px;

  }

  .mod4 .modal-header h4 {
    font-size: 18px;
  }

  .mod5 {
    .modal-body {
      img {
        width: 25%;
      }
      img:nth-child(2) {
        width: 10%;
      }
    }
  }

  .mod7 {
    .checkbox {
      width: 20%;
      display: inline-block;
    }
    .check_b {
      width: 165px;
      padding-left: 2px;
    }
  }

  .mod9 .modal-body label {
    font-size: 18px;
  }

  .modal_m .modal-body .mem_input {
    font-size: 15px;
  }

  .mod9 .modal-body .see {
    background-size: 17%;
  }

  .foot_pic .logo img {
    height: 33px;
  }

  .foot_pic .right_f .list_f li a {
    font-size: 11px;
  }
}