@white: #ffffff;
@gray: #8f8f8f;
@gray_two: #3e3e3e;

.user_panel_tabs {
  .wrap_user {
    margin-bottom: 50px;
  }
  .menu_two {
    padding: 0;

    li {
      list-style-type: none;
      padding: 50px 30px;
      font-size: 24px;
      display: inline-block;
    }
  }
  .left_user {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.06);
    max-width: 293px;
    height: 225px;
    position: relative;
    padding: 30px;
    text-align: center;
    top: 50px;

    p {
      font-size: 20px;
      color: @gray_two;
      padding-top: 5px;
      padding-bottom: 15px;
    }
    .blue_but {
      border-radius: 3px;
      width: 168px;
      height: 47px;
    }
  }
  .bord_user {
    .bord_one {
      max-width: 402px;
      height: 309px;
      margin-bottom: 30px;
      .bord_bg {
        background: url("../img/user_img.png") no-repeat center;
        background-size: cover;
        background-position-y: 14px;
        height: 270px;
        .bord_bg_in {
          height: 80px;
          bottom: -32px;
          padding: 10px 30px;
          background-color: #92cf1c;
        }
      }
    }
  }
  .date_us {
    width: 70%;
    display: inline-block;
    float: right;
    color: @gray_two;
    text-align: right;
    p {
      display: inline-block;
      font-size: 18px;
      color: @gray_two;

    }
    span {
      font-size: 14px;
      padding-right: 20px;
      display: inline-block;
    }
  }
  .link_us {
    font-size: 18px;
    float: right;
    padding-right: 30px;
  }
  .date_right {
    color: @gray_two;
    text-align: right;
    span {
      font-size: 18px;

    }
    .f_big {
      font-size: 36px;
      padding-right: 10px;
    }
    p {
      font-size: 14px;
      color: @gray_two;
    }
  }
  hr {
    margin: 15px 0;
  }
  .rel_user {
    position: relative;

    .help_user {
      border-radius: 4px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.22);
      position: absolute;
      bottom: -90px;
      width: 437px;
      height: 145px;
      left: 5%;
      font-size: 20px;
      color: #858585;
      padding: 30px;
      a {
        padding-right: 40px;
        color: #858585;
        text-decoration: underline;
      }
      p {
        display: inline-block;
        padding-left: 40px;
      }
      .blue_but {
        border-radius: 5px;
        width: 85px;
        height: 79px;

      }

    }
  }
  .link_us_red {
    color: #cc3e0c;
  }
  .opacity_user {
    opacity: 0.6;
  }
  .left_user .green_us {
    color: #8bc31b;
  }
  .left_user_two {
    padding-top: 70px;
  }

  .green_but, .blue_but_us {
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(147, 200, 61);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
    width: 168px;
    height: 47px;
    border: none;
    color: @white;
    font-size: 20px;

  }
  .blue_but_us {
    background-color: rgb(52, 152, 219);
  }
  .user_but {
    padding-top: 70px;
  }
  .user_info {
    color: @gray_two;
    text-align: right;
    padding-right: 25px;

    h3, h4 {
      font-size: 20px;
      margin-top: 0;
    }
    h4 {
      padding-top: 20px;
      color: #93c83d;
    }
    p {

      font-size: 16px;
      margin: 0;
    }
  }
  .tabs_bg {
    background: url(../img/food_one.png) no-repeat center center;
    background-size: cover;
    width: 158px;
    max-width: 158px;
    height: 118px;
  }
  #tabs_bg2 {
    background: url(../img/food_two.png) no-repeat center center;
  }
  #tabs_bg3 {
    background: url(../img/food_three.png) no-repeat center center;
  }
  #tabs_bg4 {
    background: url(../img/food_four.png) no-repeat center center;
  }
  #tabs_bg5 {
    background: url(../img/food_four.png) no-repeat center center;
  }

}

@media only screen and (max-width: 650px) {
  .user_panel_tabs {

    .menu_two li {

      padding: 50px 17px;
    }

    .bord_user .bord_one .bord_bg {

      height: 220px;
    }
    .left_user p {
      font-size: 16px;

    }
    .left_user {

      padding: 20px;

    }
    .bord_one .bord_bg .bord_bg_in h3, .bord_one .bord_bg_two .bord_bg_in h3, .bord_one .bord_bg_three .bord_bg_in h3, .bord_one .bord_bg_four .bord_bg_in h3 {
      font-size: 26px;

    }
    .bord_one .bord_bg .bord_bg_in h4, .bord_one .bord_bg_two .bord_bg_in h4, .bord_one .bord_bg_three .bord_bg_in h4, .bord_one .bord_bg_four .bord_bg_in h4 {

      font-size: 20px;

    }
    .date_us {
      width: 80%;
      span {

        padding-right: 7px;

      }
    }
    .bord_user .bord_one .bord_bg .bord_bg_in {
      height: 65px;

    }
    .left_user_two {
      padding-top: 70px;
    }

  }

}

@media only screen and (max-width: 650px) {
  .user_panel_tabs {
    .menu_two li {
      padding: 21px 9px;
      font-size: 21px;
    }

    .left_user {
      top: 35px;
      height: 190px;
      .atention {
        width: 17%;
      }
      p {
        font-size: 14px;
      }
      .blue_but {
        font-size: 17px;
        width: 100%;
        height: 40px;
      }
      .code_us {
        width: 70%;
      }
    }
    .bord_user .bord_one {

      height: 260px;

    }
    .bord_one .bord_bg .bord_bg_in h3, .user_panel_tabs .bord_one .bord_bg_two .bord_bg_in h3, .user_panel_tabs .bord_one .bord_bg_three .bord_bg_in h3, .user_panel_tabs .bord_one .bord_bg_four .bord_bg_in h3 {
      font-size: 19px;
    }
    .bord_user .bord_one .bord_bg {

      background-size: contain;

    }
    .close_us {
      width: 12%;
    }
    .user_but {
      button {
        width: 135px;
        height: 39px;

        font-size: 17px;
      }
    }
    .user_info h3, h4 {
      font-size: 16px;

    }
    .user_info p {
      font-size: 14px;

    }
    .tabs_bg {

      background-size: contain;
    }
    .tabs_hr {
      width: 100%;
    }
  }

  .user_panel_tabs .left_user_two {
    padding-top: 50px;
  }

}

@media only screen and (max-width: 550px) {
  .user_panel_tabs {
    .left_user {
      top: 27px;
      height: 155px;
    }
    .bord_user .bord_one {
      height: 210px;
    }
    .bord_user .bord_one .bord_bg .bord_bg_in {
      height: 45px;
      bottom: 8px;
    }
    .bord_one .bord_bg .bord_bg_in h3, .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_two .bord_bg_in h3, .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_three .bord_bg_in h3, .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_four .bord_bg_in h3 {
      font-size: 17px;
    }
    .bord_one .bord_bg .bord_bg_in h4, .user_panel_tabs .bord_one .bord_bg_two .bord_bg_in h4, .user_panel_tabs .bord_one .bord_bg_three .bord_bg_in h4, .user_panel_tabs .bord_one .bord_bg_four .bord_bg_in h4 {
      font-size: 16px;
    }
    .left_user p {
      font-size: 12px;

      padding-bottom: 0;
    }
    .left_user .blue_but {
      font-size: 14px;
      width: 84%;
      height: 32px;
    }
    .date_us p {
      font-size: 15px;

    }
    .date_right p {
      font-size: 12px;

    }
    .date_right .f_big {
      font-size: 20px;

    }

    .rel_user .help_user {
      text-align: center;
      bottom: -72px;
      width: 368px;
      height: 90px;
      left: 7%;
      font-size: 17px;

      padding: 12px;
    }

    .rel_user .help_user .blue_but {
      width: 73px;
      height: 63px;
    }
    .user_but button {
      width: 110px;
      height: 39px;
      font-size: 15px;
    }
    .user_info p {
      font-size: 13px;
    }
    .tabs_bg {
      background-size: contain;
      width: 33%;

    }
  }
}

@media only screen and (max-width: 481px) {
  .user_panel_tabs {
    .rel_user .help_user {
      text-align: center;
      bottom: -72px;
      width: 236px;
      height: 90px;
      left: 7%;
      font-size: 17px;
      padding: 12px;
    }
    .menu_two li {
      padding: 21px 6px;
      font-size: 15px;
    }
    .left_user {
      height: 123px;
      padding: 4px;
    }
    .left_user p {
      font-size: 10px;

    }
    .left_user .blue_but {
      font-size: 13px;
      width: 78%;
      height: 26px;
    }
    .bord_user .bord_one {
      height: 171px;
      margin-bottom: 15px;
      padding: 0 9px;
    }
    .bord_user .bord_one .bord_bg {
      background-size: cover;
      height: 138px;

    }
    .bord_user .bord_one .bord_bg .bord_bg_in {
      height: 35px;
      bottom: -30px;
      padding: 3px 10px;
    }
    .bord_one .bord_bg .bord_bg_in h3, .user_panel_tabs .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_two .bord_bg_in h3, .user_panel_tabs .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_three .bord_bg_in h3, .user_panel_tabs .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_four .bord_bg_in h3 {
      font-size: 14px;
    }
    .bord_one .bord_bg .bord_bg_in h4, .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_two .bord_bg_in h4, .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_three .bord_bg_in h4, .user_panel_tabs .user_panel_tabs .bord_one .bord_bg_four .bord_bg_in h4 {
      font-size: 12px;
    }
    .date_us span {
      font-size: 10px;
      padding-right: 0;

    }
    .date_us p {
      font-size: 10px;
    }
    .tab-content-container {
      padding: 10px 30px;

    }
    .wrap_user {
      margin-bottom: 10px;
    }
    .date_right .f_big {
      font-size: 15px;
    }
    .date_right span {
      font-size: 14px;
    }

    .rel_user .help_user .blue_but {
      width: 55px;
      height: 48px;
    }
    .rel_user .help_user {

      font-size: 15px;

    }
    .rel_user .help_user {
      p {
        padding-left: 10px;
      }
      a {
        padding-right: 10px;
      }
    }
    .left_user_two {
      padding-top: 30px;
      img {
        width: 14%;
      }
      .green_us {
        font-size: 16px;
      }
    }
    .user_but button {
      width: 85px;
      height: 30px;
      font-size: 12px;
    }
    .user_info {
      padding-right: 15px;
    }
    .user_info h3, h4 {
      font-size: 13px;
    }
    .user_info h4 {
      padding-top: 5px;

    }
    .user_info p {
      font-size: 11px;
    }
    .user_but {
      padding-top: 42px;
    }
    .tabs_bg {
      height: 77px;
    }
  }
}

@media only screen and (max-width: 381px) {
  .user_panel_tabs {

    .user_info h3, .user_info h4 {
      font-size: 14px;

    }
    .user_info p {
      font-size: 8px;
    }
  }
}